*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #222;
}
.container{
    width: 600px;
    background: white;
    margin: 200px auto;
    border-radius: 5px;
}
.search-box{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input{
    flex: 1;
    height: 50px;
    font-size: 18px;
    outline: none;
    border: 0;
}
ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}
li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
li:hover{
    background: orange;
}